.main-bg{
    background-image: url(https://images5.alphacoders.com/866/866816.jpg);
    backdrop-filter: blur(1px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.10);
    background-repeat: no-repeat;
    background-size:cover;
}
.main-bg-top{
}
.error_msg,
.success_msg {width: 100%;
	padding: 15px;
	margin: 5px;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.success_msg {
	background-color: #5cdd5c;
}